In [2]:
import pandas as pd 
data=pd.read_csv('Downloads/new_click_data.csv')
data.head()

,age,location_region,os_name,customer_class,customer_value,spend_total,y
0,42.0,South West,android,44.0,5.0,15670.380000,0
1,20.0,South West,ios,44.0,4.0,6741.240000,0
2,28.0,South South,android,46.0,3.0,3811.180000,0
3,44.0,South West,proprietary os,184.0,3.0,3592.284065,0
4,26.0,South South,android,44.0,4.0,10139.103000,0